*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}

.hero-section{
   
    display: grid;
    margin: 233px auto;
    grid-template-columns: repeat(5,300px);
    padding: 9px 15px;
    column-gap: 13px;
  
}
.card1{
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

   
   

.row{
    display: flex;
    border:1px solid white;
  

}
.name-section{
    display: flex;
   
}
.name{
    padding: 7px;
    display: flex;
    
}
.ratings{
    display: flex;
}
.image-section{
    display: flex;
  
    width: 50%;
    
    justify-content: center;
}
.name-section{
    display: flex;
    border: 2px solid green;
    width: 50%;
}
.images{
    width: 60%;
    border-radius: 50%;
}

.review{
    padding: 3px;
}
