*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero-section{
   
    margin: 222px auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    overflow: hidden;
}
.items1{
    border: 2px solid rgb(221, 220, 220);
    box-shadow: 4px 5px 13px 5px rgb(244, 241, 241);
}
.image-section{
    
    max-width: 80%;
    max-height: 60%;
}
.images{
    max-width: 50%;
    border-radius: 50%;

}
.text{
    border: 1px solid yellow;
    position: absolute;
  left: 10%;
  top: 17%;
}

@media(max-width:700px){
    .hero-section{
        display: grid;
        grid-template-columns: repea(5,600px);
        overflow: auto;
    }
    .images{
        max-width: 65%;
        border-radius: 50%;
    
    }
    .review{
        font-size: 30%;
    }
    
}